*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
MPLAB/html/
MPLAB/nbproject/private/
MPLAB/nbproject/Package-*.bash
MPLAB/build/
MPLAB/nbbuild/
MPLAB/dist/
MPLAB/nbdist/
MPLAB/nbactions.xml
MPLAB/nb-configuration.xml
MPLAB/funclist
MPLAB/nbproject/Makefile-*
MPLAB/disassembly/
MPLAB/*.map